.elementor-448 .elementor-element.elementor-element-00d7dd2 > .elementor-container {
  max-width: 1200px;
}
.elementor-448
  .elementor-element.elementor-element-00d7dd2:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-448
  .elementor-element.elementor-element-00d7dd2
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-448 .elementor-element.elementor-element-00d7dd2 > .elementor-background-overlay {
  background-image: url("../../2022/12/linebg_4.png");
  background-position: top center;
  background-size: cover;
  opacity: 0.15;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-448 .elementor-element.elementor-element-00d7dd2 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.elementor-448 .elementor-element.elementor-element-e0f24f4 > .elementor-element-populated {
  margin: 0px 100px 0px 0px;
  --e-column-margin-right: 100px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-448 .elementor-element.elementor-element-98e7f2f {
  text-align: left;
}
.elementor-448 .elementor-element.elementor-element-98e7f2f img {
  width: 77%;
}
.elementor-448 .elementor-element.elementor-element-98e7f2f > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-448 .elementor-element.elementor-element-c148297 {
  color: #dadada;
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-transform: var(--e-global-typography-text-text-transform);
  font-style: var(--e-global-typography-text-font-style);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-448 .elementor-element.elementor-element-c148297 > .elementor-widget-container {
  margin: 0px 0px -5px 0px;
}
.elementor-448 .elementor-element.elementor-element-c6e9533 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 14px;
  --grid-column-gap: 25px;
  --grid-row-gap: 0px;
}
.elementor-448 .elementor-element.elementor-element-c6e9533 .elementor-widget-container {
  text-align: left;
}
.elementor-448 .elementor-element.elementor-element-c6e9533 .elementor-social-icon {
  background-color: #02010100;
  --icon-padding: 0em;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #e2e5f145;
}
.elementor-448 .elementor-element.elementor-element-c6e9533 .elementor-social-icon i {
  color: #ffffff;
}
.elementor-448 .elementor-element.elementor-element-c6e9533 .elementor-social-icon svg {
  fill: #ffffff;
}
.elementor-448 .elementor-element.elementor-element-c6e9533 .elementor-icon {
  border-radius: 0px 0px 0px 0px;
}
.elementor-448 .elementor-element.elementor-element-c6e9533 .elementor-social-icon:hover {
  background-color: #ffffff00;
  border-color: #ffffff00;
}
.elementor-448 .elementor-element.elementor-element-c6e9533 .elementor-social-icon:hover i {
  color: var(--e-global-color-accent);
}
.elementor-448 .elementor-element.elementor-element-c6e9533 .elementor-social-icon:hover svg {
  fill: var(--e-global-color-accent);
}
.elementor-448 .elementor-element.elementor-element-1d2b743 > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-448 .elementor-element.elementor-element-b1a8f6d {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #e2e5f133;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 50px 0px;
}
.elementor-448 .elementor-element.elementor-element-b1a8f6d > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-448 .elementor-element.elementor-element-df4e98e > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-448 .elementor-element.elementor-element-842427d .elementor-heading-title {
  color: #ffffff;
  font-family: var(--e-global-typography-f4a2faf-font-family), Sans-serif;
  font-size: var(--e-global-typography-f4a2faf-font-size);
  font-weight: var(--e-global-typography-f4a2faf-font-weight);
  line-height: var(--e-global-typography-f4a2faf-line-height);
  letter-spacing: var(--e-global-typography-f4a2faf-letter-spacing);
  word-spacing: var(--e-global-typography-f4a2faf-word-spacing);
}
.elementor-448 .elementor-element.elementor-element-842427d > .elementor-widget-container {
  margin: 0px 0px -5px 0px;
}
.elementor-448 .elementor-element.elementor-element-da2dcd0 .elementor-icon-list-icon i {
  color: var(--e-global-color-accent);
  transition: color 0.3s;
}
.elementor-448 .elementor-element.elementor-element-da2dcd0 .elementor-icon-list-icon svg {
  fill: var(--e-global-color-accent);
  transition: fill 0.3s;
}
.elementor-448 .elementor-element.elementor-element-da2dcd0 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-448 .elementor-element.elementor-element-da2dcd0 .elementor-icon-list-text {
  color: #dadada;
  transition: color 0.3s;
}
.elementor-448
  .elementor-element.elementor-element-da2dcd0
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-accent);
}
.elementor-448 .elementor-element.elementor-element-539ae41 > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-448 .elementor-element.elementor-element-d1263ab .elementor-heading-title {
  color: #ffffff;
  font-family: var(--e-global-typography-f4a2faf-font-family), Sans-serif;
  font-size: var(--e-global-typography-f4a2faf-font-size);
  font-weight: var(--e-global-typography-f4a2faf-font-weight);
  line-height: var(--e-global-typography-f4a2faf-line-height);
  letter-spacing: var(--e-global-typography-f4a2faf-letter-spacing);
  word-spacing: var(--e-global-typography-f4a2faf-word-spacing);
}
.elementor-448 .elementor-element.elementor-element-d1263ab > .elementor-widget-container {
  margin: 0px 0px -5px 0px;
}
.elementor-448 .elementor-element.elementor-element-85305e0 .elementor-icon-list-icon i {
  color: var(--e-global-color-accent);
  transition: color 0.3s;
}
.elementor-448 .elementor-element.elementor-element-85305e0 .elementor-icon-list-icon svg {
  fill: var(--e-global-color-accent);
  transition: fill 0.3s;
}
.elementor-448 .elementor-element.elementor-element-85305e0 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-448 .elementor-element.elementor-element-85305e0 .elementor-icon-list-text {
  color: #dadada;
  transition: color 0.3s;
}
.elementor-448
  .elementor-element.elementor-element-85305e0
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-accent);
}
.elementor-448 .elementor-element.elementor-element-20a176e > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-448 .elementor-element.elementor-element-dd33e4f .elementor-heading-title {
  color: #ffffff;
  font-family: var(--e-global-typography-f4a2faf-font-family), Sans-serif;
  font-size: var(--e-global-typography-f4a2faf-font-size);
  font-weight: var(--e-global-typography-f4a2faf-font-weight);
  line-height: var(--e-global-typography-f4a2faf-line-height);
  letter-spacing: var(--e-global-typography-f4a2faf-letter-spacing);
  word-spacing: var(--e-global-typography-f4a2faf-word-spacing);
}
.elementor-448 .elementor-element.elementor-element-dd33e4f > .elementor-widget-container {
  margin: 0px 0px -5px 0px;
}
.elementor-448 .elementor-element.elementor-element-56fa4f5 .elementor-icon-list-icon i {
  color: var(--e-global-color-accent);
  transition: color 0.3s;
}
.elementor-448 .elementor-element.elementor-element-56fa4f5 .elementor-icon-list-icon svg {
  fill: var(--e-global-color-accent);
  transition: fill 0.3s;
}
.elementor-448 .elementor-element.elementor-element-56fa4f5 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-448 .elementor-element.elementor-element-56fa4f5 .elementor-icon-list-text {
  color: #dadada;
  transition: color 0.3s;
}
.elementor-448
  .elementor-element.elementor-element-56fa4f5
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-accent);
}
.elementor-448 .elementor-element.elementor-element-3dc1cf6 {
  padding: 50px 0px 0px 0px;
}
.elementor-448 .elementor-element.elementor-element-01bda4d > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-448 .elementor-element.elementor-element-7864108 .elementor-heading-title {
  color: #ffffff;
  font-family: var(--e-global-typography-f4a2faf-font-family), Sans-serif;
  font-size: var(--e-global-typography-f4a2faf-font-size);
  font-weight: var(--e-global-typography-f4a2faf-font-weight);
  line-height: var(--e-global-typography-f4a2faf-line-height);
  letter-spacing: var(--e-global-typography-f4a2faf-letter-spacing);
  word-spacing: var(--e-global-typography-f4a2faf-word-spacing);
}
.elementor-448 .elementor-element.elementor-element-7864108 > .elementor-widget-container {
  margin: 0px 0px -5px 0px;
}
.elementor-448 .elementor-element.elementor-element-e392553 .menu-item a.hfe-menu-item {
  padding-left: 0px;
  padding-right: 0px;
}
.elementor-448 .elementor-element.elementor-element-e392553 .menu-item a.hfe-sub-menu-item {
  padding-left: calc(0px + 20px);
  padding-right: 0px;
}
.elementor-448
  .elementor-element.elementor-element-e392553
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(0px + 40px);
  padding-right: 0px;
}
.elementor-448
  .elementor-element.elementor-element-e392553
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(0px + 60px);
  padding-right: 0px;
}
.elementor-448
  .elementor-element.elementor-element-e392553
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(0px + 80px);
  padding-right: 0px;
}
.elementor-448 .elementor-element.elementor-element-e392553 .menu-item a.hfe-menu-item,
.elementor-448 .elementor-element.elementor-element-e392553 .menu-item a.hfe-sub-menu-item {
  padding-top: 3px;
  padding-bottom: 3px;
}
.elementor-448 .elementor-element.elementor-element-e392553 a.hfe-menu-item,
.elementor-448 .elementor-element.elementor-element-e392553 a.hfe-sub-menu-item {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-transform: var(--e-global-typography-text-text-transform);
  font-style: var(--e-global-typography-text-font-style);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-448 .elementor-element.elementor-element-e392553 .menu-item a.hfe-menu-item,
.elementor-448 .elementor-element.elementor-element-e392553 .sub-menu a.hfe-sub-menu-item {
  color: #dadada;
}
.elementor-448 .elementor-element.elementor-element-e392553 .menu-item a.hfe-menu-item:hover,
.elementor-448 .elementor-element.elementor-element-e392553 .sub-menu a.hfe-sub-menu-item:hover,
.elementor-448
  .elementor-element.elementor-element-e392553
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-448 .elementor-element.elementor-element-e392553 .menu-item a.hfe-menu-item.highlighted,
.elementor-448 .elementor-element.elementor-element-e392553 .menu-item a.hfe-menu-item:focus {
  color: var(--e-global-color-accent);
}
.elementor-448
  .elementor-element.elementor-element-e392553
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-448
  .elementor-element.elementor-element-e392553
  .menu-item.current-menu-ancestor
  a.hfe-menu-item {
  color: #dadada;
}
.elementor-448 .elementor-element.elementor-element-e392553 .sub-menu,
.elementor-448 .elementor-element.elementor-element-e392553 nav.hfe-dropdown,
.elementor-448 .elementor-element.elementor-element-e392553 nav.hfe-dropdown-expandible,
.elementor-448
  .elementor-element.elementor-element-e392553
  nav.hfe-dropdown
  .menu-item
  a.hfe-menu-item,
.elementor-448
  .elementor-element.elementor-element-e392553
  nav.hfe-dropdown
  .menu-item
  a.hfe-sub-menu-item {
  background-color: #fff;
}
.elementor-448 .elementor-element.elementor-element-e392553 .sub-menu a.hfe-sub-menu-item,
.elementor-448 .elementor-element.elementor-element-e392553 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-448 .elementor-element.elementor-element-e392553 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-448
  .elementor-element.elementor-element-e392553
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-448
  .elementor-element.elementor-element-e392553
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-448 .elementor-element.elementor-element-e392553 .sub-menu li.menu-item:not(:last-child),
.elementor-448
  .elementor-element.elementor-element-e392553
  nav.hfe-dropdown
  li.menu-item:not(:last-child),
.elementor-448
  .elementor-element.elementor-element-e392553
  nav.hfe-dropdown-expandible
  li.menu-item:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-color: #c4c4c4;
  border-bottom-width: 1px;
}
.elementor-448 .elementor-element.elementor-element-e392553 > .elementor-widget-container {
  margin: -5px 0px -10px 0px;
}
.elementor-448 .elementor-element.elementor-element-55e0659 > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-448 .elementor-element.elementor-element-8f12367 .elementor-heading-title {
  color: #ffffff;
  font-family: var(--e-global-typography-f4a2faf-font-family), Sans-serif;
  font-size: var(--e-global-typography-f4a2faf-font-size);
  font-weight: var(--e-global-typography-f4a2faf-font-weight);
  line-height: var(--e-global-typography-f4a2faf-line-height);
  letter-spacing: var(--e-global-typography-f4a2faf-letter-spacing);
  word-spacing: var(--e-global-typography-f4a2faf-word-spacing);
}
.elementor-448 .elementor-element.elementor-element-8f12367 > .elementor-widget-container {
  margin: 0px 0px -5px 0px;
}
.elementor-448
  .elementor-element.elementor-element-6b9da56
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(6px / 2);
}
.elementor-448
  .elementor-element.elementor-element-6b9da56
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(6px / 2);
}
.elementor-448
  .elementor-element.elementor-element-6b9da56
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(6px / 2);
  margin-left: calc(6px / 2);
}
.elementor-448
  .elementor-element.elementor-element-6b9da56
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-6px / 2);
  margin-left: calc(-6px / 2);
}
body.rtl
  .elementor-448
  .elementor-element.elementor-element-6b9da56
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-6px / 2);
}
body:not(.rtl)
  .elementor-448
  .elementor-element.elementor-element-6b9da56
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-6px / 2);
}
.elementor-448 .elementor-element.elementor-element-6b9da56 .elementor-icon-list-icon i {
  transition: color 0.3s;
}
.elementor-448 .elementor-element.elementor-element-6b9da56 .elementor-icon-list-icon svg {
  transition: fill 0.3s;
}
.elementor-448 .elementor-element.elementor-element-6b9da56 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-448
  .elementor-element.elementor-element-6b9da56:not(.elementor-icon-list-ico-position-10)
  .elementor-icon-list-text {
  padding-left: 0px;
}
.elementor-448
  .elementor-element.elementor-element-6b9da56.elementor-icon-list-ico-position-10
  .elementor-icon-list-text {
  padding-right: 0px;
}
.elementor-448 .elementor-element.elementor-element-6b9da56 .elementor-icon-list-text {
  color: #dadada;
  transition: color 0.3s;
}
.elementor-448
  .elementor-element.elementor-element-6b9da56
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-accent);
}
.elementor-448 .elementor-element.elementor-element-6b9da56 > .elementor-widget-container {
  margin: -1px 0px -7px 0px;
}
.elementor-448 .elementor-element.elementor-element-a541008 > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-448 .elementor-element.elementor-element-579eb13 .elementor-heading-title {
  color: #ffffff;
  font-family: var(--e-global-typography-f4a2faf-font-family), Sans-serif;
  font-size: var(--e-global-typography-f4a2faf-font-size);
  font-weight: var(--e-global-typography-f4a2faf-font-weight);
  line-height: var(--e-global-typography-f4a2faf-line-height);
  letter-spacing: var(--e-global-typography-f4a2faf-letter-spacing);
  word-spacing: var(--e-global-typography-f4a2faf-word-spacing);
}
.elementor-448 .elementor-element.elementor-element-579eb13 > .elementor-widget-container {
  margin: 0px 0px -5px 0px;
}
.elementor-448 .elementor-element.elementor-element-ca163e7 {
  color: #dadada;
}
.elementor-448 .elementor-element.elementor-element-ca163e7 > .elementor-widget-container {
  margin: 0px 0px -15px 0px;
}
.elementor-448
  .elementor-element.elementor-element-891c2e2
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 10px;
}
.elementor-448
  .elementor-element.elementor-element-891c2e2
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 10px;
}
.elementor-448 .elementor-element.elementor-element-891c2e2 .elementor-button {
  fill: #ffffff;
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #e3f81f00 0%, #f2295b00 100%);
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: var(--e-global-color-accent);
  border-radius: 0px 0px 0px 0px;
  padding: 0px 0px 4px 0px;
}
.elementor-448 .elementor-element.elementor-element-891c2e2 .elementor-button:hover,
.elementor-448 .elementor-element.elementor-element-891c2e2 .elementor-button:focus {
  color: var(--e-global-color-accent);
  background-color: #02010100;
  border-color: #ceff0c;
}
.elementor-448 .elementor-element.elementor-element-891c2e2 .elementor-button:hover svg,
.elementor-448 .elementor-element.elementor-element-891c2e2 .elementor-button:focus svg {
  fill: var(--e-global-color-accent);
}
.elementor-448
  .elementor-element.elementor-element-891c2e2
  .elementor-button
  .elementor-button-icon
  i,
.elementor-448
  .elementor-element.elementor-element-891c2e2
  .elementor-button
  .elementor-button-icon
  svg {
  transform: rotate(0deg);
}
.elementor-448 .elementor-element.elementor-element-5d6c65e > .elementor-container {
  max-width: 1200px;
}
.elementor-448
  .elementor-element.elementor-element-5d6c65e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-448
  .elementor-element.elementor-element-5d6c65e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-448 .elementor-element.elementor-element-5d6c65e {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #e2e5f133;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 15px 0px 15px 0px;
}
.elementor-448 .elementor-element.elementor-element-5d6c65e > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-448
  .elementor-element.elementor-element-5f1df03.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-448
  .elementor-element.elementor-element-5f1df03.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-448 .elementor-element.elementor-element-5f1df03 > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-448 .elementor-element.elementor-element-0040460 {
  text-align: left;
  color: #ffffff;
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-transform: var(--e-global-typography-text-text-transform);
  font-style: var(--e-global-typography-text-font-style);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-448 .elementor-element.elementor-element-0040460 > .elementor-widget-container {
  margin: 0px 0px -15px 0px;
}
.elementor-bc-flex-widget
  .elementor-448
  .elementor-element.elementor-element-4cc8562.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-448
  .elementor-element.elementor-element-4cc8562.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-448
  .elementor-element.elementor-element-4cc8562.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-448 .elementor-element.elementor-element-4cc8562 > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-448 .elementor-element.elementor-element-3ec9bce .elementor-button {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-transform: var(--e-global-typography-text-text-transform);
  font-style: var(--e-global-typography-text-font-style);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
  fill: #ffffff;
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #0a6cff00 0%, #f2295b00 100%);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-448 .elementor-element.elementor-element-3ec9bce .elementor-button:hover,
.elementor-448 .elementor-element.elementor-element-3ec9bce .elementor-button:focus {
  color: var(--e-global-color-accent);
}
.elementor-448 .elementor-element.elementor-element-3ec9bce .elementor-button:hover svg,
.elementor-448 .elementor-element.elementor-element-3ec9bce .elementor-button:focus svg {
  fill: var(--e-global-color-accent);
}
.elementor-448 .elementor-element.elementor-element-3ec9bce > .elementor-widget-container {
  margin: 0px 20px 0px 0px;
}
.elementor-448 .elementor-element.elementor-element-3ec9bce {
  width: auto;
  max-width: auto;
}
.elementor-448 .elementor-element.elementor-element-51d2d24 .elementor-button {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-transform: var(--e-global-typography-text-text-transform);
  font-style: var(--e-global-typography-text-font-style);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
  fill: #ffffff;
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #0a6cff00 0%, #f2295b00 100%);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-448 .elementor-element.elementor-element-51d2d24 .elementor-button:hover,
.elementor-448 .elementor-element.elementor-element-51d2d24 .elementor-button:focus {
  color: var(--e-global-color-accent);
}
.elementor-448 .elementor-element.elementor-element-51d2d24 .elementor-button:hover svg,
.elementor-448 .elementor-element.elementor-element-51d2d24 .elementor-button:focus svg {
  fill: var(--e-global-color-accent);
}
.elementor-448 .elementor-element.elementor-element-51d2d24 {
  width: auto;
  max-width: auto;
}
@media (max-width: 1024px) {
  .elementor-448 .elementor-element.elementor-element-00d7dd2 {
    padding: 70px 30px 70px 30px;
  }
  .elementor-448 .elementor-element.elementor-element-e0f24f4 > .elementor-element-populated {
    margin: 0px 0px 70px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-448 .elementor-element.elementor-element-98e7f2f {
    text-align: center;
  }
  .elementor-448 .elementor-element.elementor-element-98e7f2f img {
    width: 28%;
  }
  .elementor-448 .elementor-element.elementor-element-c148297 {
    text-align: center;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-448 .elementor-element.elementor-element-c148297 > .elementor-widget-container {
    margin: 0px 150px -10px 150px;
  }
  .elementor-448 .elementor-element.elementor-element-c6e9533 .elementor-widget-container {
    text-align: center;
  }
  .elementor-448 .elementor-element.elementor-element-842427d .elementor-heading-title {
    font-size: var(--e-global-typography-f4a2faf-font-size);
    line-height: var(--e-global-typography-f4a2faf-line-height);
    letter-spacing: var(--e-global-typography-f4a2faf-letter-spacing);
    word-spacing: var(--e-global-typography-f4a2faf-word-spacing);
  }
  .elementor-448 .elementor-element.elementor-element-d1263ab .elementor-heading-title {
    font-size: var(--e-global-typography-f4a2faf-font-size);
    line-height: var(--e-global-typography-f4a2faf-line-height);
    letter-spacing: var(--e-global-typography-f4a2faf-letter-spacing);
    word-spacing: var(--e-global-typography-f4a2faf-word-spacing);
  }
  .elementor-448 .elementor-element.elementor-element-dd33e4f .elementor-heading-title {
    font-size: var(--e-global-typography-f4a2faf-font-size);
    line-height: var(--e-global-typography-f4a2faf-line-height);
    letter-spacing: var(--e-global-typography-f4a2faf-letter-spacing);
    word-spacing: var(--e-global-typography-f4a2faf-word-spacing);
  }
  .elementor-448 .elementor-element.elementor-element-7864108 .elementor-heading-title {
    font-size: var(--e-global-typography-f4a2faf-font-size);
    line-height: var(--e-global-typography-f4a2faf-line-height);
    letter-spacing: var(--e-global-typography-f4a2faf-letter-spacing);
    word-spacing: var(--e-global-typography-f4a2faf-word-spacing);
  }
  .elementor-448 .elementor-element.elementor-element-e392553 a.hfe-menu-item,
  .elementor-448 .elementor-element.elementor-element-e392553 a.hfe-sub-menu-item {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-448 .elementor-element.elementor-element-8f12367 .elementor-heading-title {
    font-size: var(--e-global-typography-f4a2faf-font-size);
    line-height: var(--e-global-typography-f4a2faf-line-height);
    letter-spacing: var(--e-global-typography-f4a2faf-letter-spacing);
    word-spacing: var(--e-global-typography-f4a2faf-word-spacing);
  }
  .elementor-448 .elementor-element.elementor-element-579eb13 .elementor-heading-title {
    font-size: var(--e-global-typography-f4a2faf-font-size);
    line-height: var(--e-global-typography-f4a2faf-line-height);
    letter-spacing: var(--e-global-typography-f4a2faf-letter-spacing);
    word-spacing: var(--e-global-typography-f4a2faf-word-spacing);
  }
  .elementor-448 .elementor-element.elementor-element-5d6c65e {
    padding: 13px 30px 13px 30px;
  }
  .elementor-448 .elementor-element.elementor-element-0040460 {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-448 .elementor-element.elementor-element-3ec9bce .elementor-button {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-448 .elementor-element.elementor-element-51d2d24 .elementor-button {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
}
@media (max-width: 767px) {
  .elementor-448 .elementor-element.elementor-element-00d7dd2 > .elementor-background-overlay {
    background-position: top right;
  }
  .elementor-448 .elementor-element.elementor-element-00d7dd2 {
    padding: 70px 20px 70px 20px;
  }
  .elementor-448 .elementor-element.elementor-element-98e7f2f img {
    width: 57%;
  }
  .elementor-448 .elementor-element.elementor-element-c148297 {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-448 .elementor-element.elementor-element-c148297 > .elementor-widget-container {
    margin: 0px 30px -10px 30px;
  }
  .elementor-448 .elementor-element.elementor-element-df4e98e > .elementor-element-populated {
    margin: 0px 0px 40px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-448 .elementor-element.elementor-element-842427d .elementor-heading-title {
    font-size: var(--e-global-typography-f4a2faf-font-size);
    line-height: var(--e-global-typography-f4a2faf-line-height);
    letter-spacing: var(--e-global-typography-f4a2faf-letter-spacing);
    word-spacing: var(--e-global-typography-f4a2faf-word-spacing);
  }
  .elementor-448 .elementor-element.elementor-element-842427d > .elementor-widget-container {
    margin: 0px 0px -10px 0px;
  }
  .elementor-448 .elementor-element.elementor-element-539ae41 > .elementor-element-populated {
    margin: 0px 0px 40px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-448 .elementor-element.elementor-element-d1263ab .elementor-heading-title {
    font-size: var(--e-global-typography-f4a2faf-font-size);
    line-height: var(--e-global-typography-f4a2faf-line-height);
    letter-spacing: var(--e-global-typography-f4a2faf-letter-spacing);
    word-spacing: var(--e-global-typography-f4a2faf-word-spacing);
  }
  .elementor-448 .elementor-element.elementor-element-d1263ab > .elementor-widget-container {
    margin: 0px 0px -10px 0px;
  }
  .elementor-448 .elementor-element.elementor-element-dd33e4f .elementor-heading-title {
    font-size: var(--e-global-typography-f4a2faf-font-size);
    line-height: var(--e-global-typography-f4a2faf-line-height);
    letter-spacing: var(--e-global-typography-f4a2faf-letter-spacing);
    word-spacing: var(--e-global-typography-f4a2faf-word-spacing);
  }
  .elementor-448 .elementor-element.elementor-element-dd33e4f > .elementor-widget-container {
    margin: 0px 0px -10px 0px;
  }
  .elementor-448 .elementor-element.elementor-element-01bda4d > .elementor-element-populated {
    margin: 0px 0px 40px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-448 .elementor-element.elementor-element-7864108 .elementor-heading-title {
    font-size: var(--e-global-typography-f4a2faf-font-size);
    line-height: var(--e-global-typography-f4a2faf-line-height);
    letter-spacing: var(--e-global-typography-f4a2faf-letter-spacing);
    word-spacing: var(--e-global-typography-f4a2faf-word-spacing);
  }
  .elementor-448 .elementor-element.elementor-element-7864108 > .elementor-widget-container {
    margin: 0px 0px -8px 0px;
  }
  .elementor-448 .elementor-element.elementor-element-e392553 a.hfe-menu-item,
  .elementor-448 .elementor-element.elementor-element-e392553 a.hfe-sub-menu-item {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-448 .elementor-element.elementor-element-55e0659 > .elementor-element-populated {
    margin: 0px 0px 50px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-448 .elementor-element.elementor-element-8f12367 .elementor-heading-title {
    font-size: var(--e-global-typography-f4a2faf-font-size);
    line-height: var(--e-global-typography-f4a2faf-line-height);
    letter-spacing: var(--e-global-typography-f4a2faf-letter-spacing);
    word-spacing: var(--e-global-typography-f4a2faf-word-spacing);
  }
  .elementor-448 .elementor-element.elementor-element-8f12367 > .elementor-widget-container {
    margin: 0px 0px -8px 0px;
  }
  .elementor-448 .elementor-element.elementor-element-579eb13 {
    text-align: center;
  }
  .elementor-448 .elementor-element.elementor-element-579eb13 .elementor-heading-title {
    font-size: var(--e-global-typography-f4a2faf-font-size);
    line-height: var(--e-global-typography-f4a2faf-line-height);
    letter-spacing: var(--e-global-typography-f4a2faf-letter-spacing);
    word-spacing: var(--e-global-typography-f4a2faf-word-spacing);
  }
  .elementor-448 .elementor-element.elementor-element-ca163e7 {
    text-align: center;
  }
  .elementor-448 .elementor-element.elementor-element-ca163e7 > .elementor-widget-container {
    margin: 0px 60px -15px 60px;
  }
  .elementor-448 .elementor-element.elementor-element-5d6c65e {
    padding: 17px 20px 17px 20px;
  }
  .elementor-448 .elementor-element.elementor-element-0040460 {
    text-align: center;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-448
    .elementor-element.elementor-element-4cc8562.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-448 .elementor-element.elementor-element-4cc8562 > .elementor-element-populated {
    padding: 0px 0px 10px 0px;
  }
  .elementor-448 .elementor-element.elementor-element-3ec9bce .elementor-button {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-448 .elementor-element.elementor-element-51d2d24 .elementor-button {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
}
@media (min-width: 768px) {
  .elementor-448 .elementor-element.elementor-element-e0f24f4 {
    width: 30%;
  }
  .elementor-448 .elementor-element.elementor-element-1d2b743 {
    width: 69.665%;
  }
  .elementor-448 .elementor-element.elementor-element-df4e98e {
    width: 40%;
  }
  .elementor-448 .elementor-element.elementor-element-539ae41 {
    width: 39.332%;
  }
  .elementor-448 .elementor-element.elementor-element-20a176e {
    width: 20%;
  }
  .elementor-448 .elementor-element.elementor-element-01bda4d {
    width: 40%;
  }
  .elementor-448 .elementor-element.elementor-element-55e0659 {
    width: 39.332%;
  }
  .elementor-448 .elementor-element.elementor-element-a541008 {
    width: 20%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-448 .elementor-element.elementor-element-e0f24f4 {
    width: 100%;
  }
  .elementor-448 .elementor-element.elementor-element-1d2b743 {
    width: 100%;
  }
  .elementor-448 .elementor-element.elementor-element-df4e98e {
    width: 38%;
  }
  .elementor-448 .elementor-element.elementor-element-539ae41 {
    width: 38%;
  }
  .elementor-448 .elementor-element.elementor-element-20a176e {
    width: 24%;
  }
  .elementor-448 .elementor-element.elementor-element-01bda4d {
    width: 38%;
  }
  .elementor-448 .elementor-element.elementor-element-55e0659 {
    width: 38%;
  }
  .elementor-448 .elementor-element.elementor-element-a541008 {
    width: 24%;
  }
}
