.elementor-446 .elementor-element.elementor-element-d44f5c2 > .elementor-container {
  max-width: 1200px;
}
.elementor-446
  .elementor-element.elementor-element-d44f5c2:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-446
  .elementor-element.elementor-element-d44f5c2
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-446 .elementor-element.elementor-element-d44f5c2 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 0px 0px 0px;
  z-index: 10;
}
.elementor-446 .elementor-element.elementor-element-d44f5c2 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-446
  .elementor-element.elementor-element-4252465.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-446
  .elementor-element.elementor-element-4252465.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-446 .elementor-element.elementor-element-4252465 > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-446 .elementor-element.elementor-element-382bad5 {
  text-align: left;
}
.elementor-446 .elementor-element.elementor-element-382bad5 img {
  width: 75%;
}
.elementor-446 .elementor-element.elementor-element-382bad5 > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #ffffff52;
}
.elementor-bc-flex-widget
  .elementor-446
  .elementor-element.elementor-element-bfda198.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-446
  .elementor-element.elementor-element-bfda198.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-446 .elementor-element.elementor-element-bfda198 > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-446
  .elementor-element.elementor-element-7f68813.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-446
  .elementor-element.elementor-element-7f68813.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-446 .elementor-element.elementor-element-7f68813 > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-menu-container {
  height: 80px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-navbar-nav > li > a {
  font-family: var(--e-global-typography-3b3c285-font-family), Sans-serif;
  font-size: var(--e-global-typography-3b3c285-font-size);
  font-weight: var(--e-global-typography-3b3c285-font-weight);
  text-transform: var(--e-global-typography-3b3c285-text-transform);
  line-height: var(--e-global-typography-3b3c285-line-height);
  letter-spacing: var(--e-global-typography-3b3c285-letter-spacing);
  word-spacing: var(--e-global-typography-3b3c285-word-spacing);
  color: #ffffff80;
  padding: 0px 25px 0px 25px;
}
.elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-navbar-nav > li > a:hover {
  color: var(--e-global-color-accent);
}
.elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-navbar-nav > li > a:focus {
  color: var(--e-global-color-accent);
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  > li
  > a:active {
  color: var(--e-global-color-accent);
}
.elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-navbar-nav > li:hover > a {
  color: var(--e-global-color-accent);
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  > li:hover
  > a
  .elementskit-submenu-indicator {
  color: var(--e-global-color-accent);
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  > li
  > a:hover
  .elementskit-submenu-indicator {
  color: var(--e-global-color-accent);
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  > li
  > a:focus
  .elementskit-submenu-indicator {
  color: var(--e-global-color-accent);
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  > li
  > a:active
  .elementskit-submenu-indicator {
  color: var(--e-global-color-accent);
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  > li.current-menu-item
  > a {
  color: #ffffff;
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  > li.current-menu-ancestor
  > a {
  color: #ffffff;
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  > li.current-menu-ancestor
  > a
  .elementskit-submenu-indicator {
  color: #ffffff;
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  > li
  > a
  .elementskit-submenu-indicator {
  color: #ffffff;
  fill: #ffffff;
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  > li
  > a
  .ekit-submenu-indicator-icon {
  color: #ffffff;
  fill: #ffffff;
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav-default
  .elementskit-dropdown-has
  > a
  .elementskit-submenu-indicator {
  margin: -2px 0px 0px 10px;
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav-default
  .elementskit-dropdown-has
  > a
  .ekit-submenu-indicator-icon {
  margin: -2px 0px 0px 10px;
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li
  > a {
  font-family: var(--e-global-typography-1150557-font-family), Sans-serif;
  font-size: var(--e-global-typography-1150557-font-size);
  font-weight: var(--e-global-typography-1150557-font-weight);
  line-height: var(--e-global-typography-1150557-line-height);
  letter-spacing: var(--e-global-typography-1150557-letter-spacing);
  word-spacing: var(--e-global-typography-1150557-word-spacing);
  padding: 0px 15px 0px 35px;
  color: #00000080;
  background-color: #02010100;
  border-style: solid;
  border-color: #02010100;
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li
  > a:hover {
  color: var(--e-global-color-primary);
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li
  > a:focus {
  color: var(--e-global-color-primary);
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li
  > a:active {
  color: var(--e-global-color-primary);
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li:hover
  > a {
  color: var(--e-global-color-primary);
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li
  > a:hover,
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li
  > a:focus,
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li
  > a:active,
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li:hover
  > a {
  background-color: #02010100;
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li.current-menu-item
  > a {
  color: var(--e-global-color-primary);
  background-color: #02010100;
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li:last-child
  > a {
  border-style: solid;
  border-color: #02010100;
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li:first-child
  > a {
  border-style: solid;
  border-color: #02010100;
}
.elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-submenu-panel {
  padding: 20px 0px 20px 0px;
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-navbar-nav
  .elementskit-submenu-panel {
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--e-global-color-secondary);
  background-color: #ffffff;
  border-radius: 0px 0px 0px 0px;
  min-width: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}
.elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-menu-hamburger {
  float: right;
  background-color: #02010100;
  border-style: solid;
  border-color: #02010100;
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-menu-hamburger
  .elementskit-menu-hamburger-icon {
  background-color: #ffffff;
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-menu-hamburger
  > .ekit-menu-icon {
  color: #ffffff;
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-menu-hamburger:hover
  .elementskit-menu-hamburger-icon {
  background-color: var(--e-global-color-accent);
}
.elementor-446
  .elementor-element.elementor-element-54bd10e
  .elementskit-menu-hamburger:hover
  > .ekit-menu-icon {
  color: var(--e-global-color-accent);
}
.elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-menu-close {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  font-style: var(--e-global-typography-accent-font-style);
  text-decoration: var(--e-global-typography-accent-text-decoration);
  background-color: #ffffff00;
  border-style: solid;
  border-color: #02010100;
  color: #000000;
}
.elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-menu-close:hover {
  background-color: #02010100;
  color: #000000;
}
.elementor-446 .elementor-element.elementor-element-54bd10e > .elementor-widget-container {
  margin: 0px 0px 0px 15px;
}
.elementor-bc-flex-widget
  .elementor-446
  .elementor-element.elementor-element-8b6cc54.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-446
  .elementor-element.elementor-element-8b6cc54.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-446
  .elementor-element.elementor-element-8b6cc54.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-446 .elementor-element.elementor-element-8b6cc54 > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-446
  .elementor-element.elementor-element-732efd5
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 10px;
}
.elementor-446
  .elementor-element.elementor-element-732efd5
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 10px;
}
.elementor-446 .elementor-element.elementor-element-732efd5 .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  font-style: var(--e-global-typography-accent-font-style);
  text-decoration: var(--e-global-typography-accent-text-decoration);
  fill: #ffffff;
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ccfe0000 0%, #f2295b00 100%);
  border-radius: 30px 30px 30px 30px;
  padding: 0px 0px 0px 0px;
}
.elementor-446 .elementor-element.elementor-element-732efd5 .elementor-button:hover,
.elementor-446 .elementor-element.elementor-element-732efd5 .elementor-button:focus {
  color: var(--e-global-color-accent);
}
.elementor-446 .elementor-element.elementor-element-732efd5 .elementor-button:hover svg,
.elementor-446 .elementor-element.elementor-element-732efd5 .elementor-button:focus svg {
  fill: var(--e-global-color-accent);
}
.elementor-446
  .elementor-element.elementor-element-732efd5
  .elementor-button
  .elementor-button-icon
  i,
.elementor-446
  .elementor-element.elementor-element-732efd5
  .elementor-button
  .elementor-button-icon
  svg {
  transform: rotate(0deg);
}
.elementor-446 .elementor-element.elementor-element-732efd5 > .elementor-widget-container {
  margin: 0px 20px 0px 0px;
}
.elementor-446 .elementor-element.elementor-element-732efd5 {
  width: auto;
  max-width: auto;
}
.elementor-446 .elementor-element.elementor-element-bd64548 .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  font-style: var(--e-global-typography-accent-font-style);
  text-decoration: var(--e-global-typography-accent-text-decoration);
  fill: var(--e-global-color-primary);
  color: var(--e-global-color-primary);
  background-color: transparent;
  background-image: linear-gradient(60deg, var(--e-global-color-accent) 0%, #e1ff63 100%);
  border-radius: 30px 30px 30px 30px;
  padding: 14px 25px 14px 25px;
}
.elementor-446 .elementor-element.elementor-element-bd64548 .elementor-button:hover,
.elementor-446 .elementor-element.elementor-element-bd64548 .elementor-button:focus {
  color: var(--e-global-color-primary);
  background-color: #ffffff;
}
.elementor-446 .elementor-element.elementor-element-bd64548 .elementor-button:hover svg,
.elementor-446 .elementor-element.elementor-element-bd64548 .elementor-button:focus svg {
  fill: var(--e-global-color-primary);
}
.elementor-446 .elementor-element.elementor-element-bd64548 {
  width: auto;
  max-width: auto;
}
@media (max-width: 1024px) {
  .elementor-446 .elementor-element.elementor-element-d44f5c2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 30px 20px 30px;
  }
  .elementor-446 .elementor-element.elementor-element-382bad5 img {
    width: 100%;
  }
  .elementor-446 .elementor-element.elementor-element-382bad5 > .elementor-widget-container {
    border-width: 0px 0px 0px 0px;
  }
  .elementor-446 .elementor-element.elementor-element-7f68813 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-menu-container {
    background-color: #ffffff;
    max-width: 350px;
    border-radius: 0px 0px 0px 0px;
  }
  .elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-nav-identity-panel {
    padding: 10px 0px 10px 0px;
  }
  .elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-navbar-nav > li > a {
    font-size: var(--e-global-typography-3b3c285-font-size);
    line-height: var(--e-global-typography-3b3c285-line-height);
    letter-spacing: var(--e-global-typography-3b3c285-letter-spacing);
    word-spacing: var(--e-global-typography-3b3c285-word-spacing);
    color: #0000008c;
    padding: 7px 15px 7px 30px;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav
    > li
    > a:hover {
    color: #000000;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav
    > li
    > a:focus {
    color: #000000;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav
    > li
    > a:active {
    color: #000000;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav
    > li:hover
    > a {
    color: #000000;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav
    > li:hover
    > a
    .elementskit-submenu-indicator {
    color: #000000;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav
    > li
    > a:hover
    .elementskit-submenu-indicator {
    color: #000000;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav
    > li
    > a:focus
    .elementskit-submenu-indicator {
    color: #000000;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav
    > li
    > a:active
    .elementskit-submenu-indicator {
    color: #000000;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav
    > li.current-menu-item
    > a {
    color: #000000;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav
    > li.current-menu-ancestor
    > a {
    color: #000000;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav
    > li.current-menu-ancestor
    > a
    .elementskit-submenu-indicator {
    color: #000000;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav
    > li
    > a
    .elementskit-submenu-indicator {
    color: #828282;
    fill: #828282;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav
    > li
    > a
    .ekit-submenu-indicator-icon {
    color: #828282;
    fill: #828282;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav-default
    .elementskit-dropdown-has
    > a
    .elementskit-submenu-indicator {
    margin: 0px 0px 0px 200px;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav-default
    .elementskit-dropdown-has
    > a
    .ekit-submenu-indicator-icon {
    margin: 0px 0px 0px 200px;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li
    > a {
    font-size: var(--e-global-typography-1150557-font-size);
    line-height: var(--e-global-typography-1150557-line-height);
    letter-spacing: var(--e-global-typography-1150557-letter-spacing);
    word-spacing: var(--e-global-typography-1150557-word-spacing);
    padding: 5px 15px 5px 15px;
    border-width: 0px 0px 0px 0px;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li:last-child
    > a {
    border-width: 0px 0px 0px 0px;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li:first-child
    > a {
    border-width: 0px 0px 0px 0px;
  }
  .elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-submenu-panel {
    padding: 10px 0px 10px 30px;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav
    .elementskit-submenu-panel {
    border-width: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
  }
  .elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-menu-hamburger {
    float: right;
    padding: 0px 0px 0px 0px;
    width: 45px;
    border-radius: 3px;
    border-width: 0px 0px 0px 0px;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-menu-hamburger
    > .ekit-menu-icon {
    font-size: 30px;
  }
  .elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-menu-close {
    font-size: var(--e-global-typography-accent-font-size);
    padding: 0px 0px 0px 0px;
    margin: 12px 12px 12px 12px;
    width: 45px;
    border-radius: 0px;
    border-width: 0px 0px 0px 0px;
  }
  .elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-nav-logo > img {
    max-width: 140px;
    max-height: 60px;
  }
  .elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-nav-logo {
    margin: 7px 0px 30px 25px;
    padding: 5px 5px 5px 5px;
  }
  .elementor-446 .elementor-element.elementor-element-54bd10e > .elementor-widget-container {
    margin: 0px -10px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-446 .elementor-element.elementor-element-732efd5 .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
  }
  .elementor-446 .elementor-element.elementor-element-bd64548 .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    padding: 13px 24px 13px 24px;
  }
  .elementor-446 .elementor-element.elementor-element-bd64548 > .elementor-widget-container {
    margin: 0px 10px 0px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-446 .elementor-element.elementor-element-d44f5c2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px 20px 15px 20px;
  }
  .elementor-446 .elementor-element.elementor-element-4252465 {
    width: 30%;
  }
  .elementor-446 .elementor-element.elementor-element-382bad5 img {
    width: 100%;
  }
  .elementor-446 .elementor-element.elementor-element-382bad5 > .elementor-widget-container {
    border-width: 0px 0px 0px 0px;
  }
  .elementor-446 .elementor-element.elementor-element-bfda198 {
    width: 70%;
  }
  .elementor-446 .elementor-element.elementor-element-bfda198 > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-446 .elementor-element.elementor-element-7f68813 {
    width: 17%;
  }
  .elementor-bc-flex-widget
    .elementor-446
    .elementor-element.elementor-element-7f68813.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-446
    .elementor-element.elementor-element-7f68813.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-navbar-nav > li > a {
    font-size: var(--e-global-typography-3b3c285-font-size);
    line-height: var(--e-global-typography-3b3c285-line-height);
    letter-spacing: var(--e-global-typography-3b3c285-letter-spacing);
    word-spacing: var(--e-global-typography-3b3c285-word-spacing);
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav
    > li
    > a
    .elementskit-submenu-indicator {
    color: #545454;
    fill: #545454;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav
    > li
    > a
    .ekit-submenu-indicator-icon {
    color: #545454;
    fill: #545454;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav-default
    .elementskit-dropdown-has
    > a
    .elementskit-submenu-indicator {
    margin: 0px 0px 0px 160px;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav-default
    .elementskit-dropdown-has
    > a
    .ekit-submenu-indicator-icon {
    margin: 0px 0px 0px 160px;
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li
    > a {
    font-size: var(--e-global-typography-1150557-font-size);
    line-height: var(--e-global-typography-1150557-line-height);
    letter-spacing: var(--e-global-typography-1150557-letter-spacing);
    word-spacing: var(--e-global-typography-1150557-word-spacing);
  }
  .elementor-446
    .elementor-element.elementor-element-54bd10e
    .elementskit-menu-hamburger
    > .ekit-menu-icon {
    font-size: 28px;
  }
  .elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-menu-close {
    font-size: var(--e-global-typography-accent-font-size);
    border-width: 0px 0px 0px 0px;
  }
  .elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-nav-logo > img {
    max-width: 40px;
    max-height: 50px;
  }
  .elementor-446 .elementor-element.elementor-element-54bd10e .elementskit-nav-logo {
    margin: 7px 0px 20px 25px;
  }
  .elementor-446 .elementor-element.elementor-element-54bd10e > .elementor-widget-container {
    margin: 0px -11px 0px 0px;
  }
  .elementor-446 .elementor-element.elementor-element-8b6cc54 {
    width: 83%;
  }
  .elementor-446 .elementor-element.elementor-element-732efd5 .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
  }
  .elementor-446 .elementor-element.elementor-element-bd64548 .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    padding: 12px 20px 12px 20px;
  }
  .elementor-446 .elementor-element.elementor-element-bd64548 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
}
@media (min-width: 768px) {
  .elementor-446 .elementor-element.elementor-element-4252465 {
    width: 13%;
  }
  .elementor-446 .elementor-element.elementor-element-bfda198 {
    width: 87%;
  }
  .elementor-446 .elementor-element.elementor-element-7f68813 {
    width: 74.831%;
  }
  .elementor-446 .elementor-element.elementor-element-8b6cc54 {
    width: 25.169%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-446 .elementor-element.elementor-element-4252465 {
    width: 17%;
  }
  .elementor-446 .elementor-element.elementor-element-bfda198 {
    width: 83%;
  }
  .elementor-446 .elementor-element.elementor-element-7f68813 {
    width: 8%;
  }
  .elementor-446 .elementor-element.elementor-element-8b6cc54 {
    width: 92%;
  }
}
